.lsp/

.clj-kondo/.cache/
.clj-kondo/juxt
.clj-kondo
.calva

\*.dylib

.cpcache

.nrepl-port

# Ignore generated credentials from google-github-actions/auth

gha-creds-\*.json

.env

.DS_Store
\*\*/.DS_Store
.vscode
vs-code.edn

.devcontainer/devcontainer.env

mydev/

target/

.clerk/
